<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.project.protree.mapper.PmpProjectMapper">
    <select id="updateMyNode" resultType="java.lang.String" statementType="CALLABLE">
	   {call dbo.UpdateSubNode(
	    #{projectname,jdbcType=VARCHAR,mode=IN},
	    #{parentNodeId,jdbcType=VARCHAR,mode=IN},
	    #{id,jdbcType=VARCHAR,mode=IN}
	    )}
	</select>

	<select id="isDelteSubNode" resultType="java.lang.String" statementType="CALLABLE">
	   {call dbo.isDelteSubNode(
	    #{projectname,jdbcType=VARCHAR,mode=IN},
	    #{id,jdbcType=VARCHAR,mode=IN},
	    #{isdelete,jdbcType=VARCHAR,mode=IN}
	    )}
	</select>

	<select id="IsSuperior" resultType="java.lang.Integer" statementType="CALLABLE">
	   {call dbo.IsSuperior(
	    #{id,jdbcType=VARCHAR,mode=IN},
	    #{principal,jdbcType=VARCHAR,mode=IN}
	    )}
	</select>

	<select id="myProject" resultType="org.jeecg.modules.project.protree.entity.PmpProject" statementType="CALLABLE">
	   {call dbo.myProject(
	    #{principal,jdbcType=VARCHAR,mode=IN},
	    #{projectname,jdbcType=VARCHAR,mode=IN},
	    #{isdelete,jdbcType=VARCHAR,mode=IN}
	    )}
	</select>

	<select id="myProjectpar" resultType="org.jeecg.modules.project.protree.entity.PmpProject" statementType="CALLABLE">
	   {call dbo.myProjectpar(
	    #{principal,jdbcType=VARCHAR,mode=IN},
	    #{projectname,jdbcType=VARCHAR,mode=IN},
	    #{isdelete,jdbcType=VARCHAR,mode=IN}
	    )}
	</select>

	<!-- 项目饼图根据条件查询 -->
	<select id="getCountInfo" resultType="map">
		select
		 count(status) as number,status
		 FROM [XiangMuGuanLi].[dbo].[pmp_project]
		 group by status
	</select>

	<select id="ganttList" resultType="map">
		SELECT *,DATEDIFF(DAY,startdate,enddate)+1 as duration ,
		(CASE WHEN parentnode ='0' THEN 'NULL' else parentnode END ) as parentId
		FROM [XiangMuGuanLi].[dbo].[pmp_project]
		where isdelete='0'
		and CONVERT(varchar(4), startdate, 23)=#{startyear}
		<if test="startmonth !=null and  startmonth !='' ">
			and CONVERT(varchar(7), startdate, 23)=#{startyear}+'-'+#{startmonth}
		</if>
		<if test="projectname !=null and  projectname !='' ">
			and projectname like '%'+#{projectname}+'%'
		</if>
		<if test="projecttype !=null and  projecttype !='' ">
			and projecttype =#{projecttype}
		</if>
		<if test="status !=null and  status !='' ">
			and status =#{status}
		</if>
		<if test="principal !=null and  principal !='' ">
			and (
			<foreach collection="principal" index="index" item="items">
				<if test="index==0">
					principal like '%'+ #{items}+'%'
				</if>
				<if test="index!=0">
					or principal like '%'+ #{items}+'%'
				</if>
			</foreach>
			)
		</if>
	</select>

	<select id="getListYear" resultType="map">
SELECT
distinct CONVERT(varchar(4), startdate, 23) as year
FROM [XiangMuGuanLi].[dbo].[pmp_project]
where CONVERT(varchar(7), startdate, 23) is not null
	</select>
</mapper>